<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./../vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
>
    <coverage>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="unit">
            <directory>./unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
    </source>
</phpunit>
